<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="shop">{{shop.title}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="shop" routerLink="/shop/{{shop._id}}/update" routerDirection="forward"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Title</ion-label>
  </ion-list-header>
  
  <ion-item>
    <ion-input readonly value="{{shop.title}}" rows="10" *ngIf="shop"></ion-input>
  </ion-item>

  <ion-list-header>
    <ion-label>Description</ion-label>
  </ion-list-header>

  <ion-item >
    <ion-textarea readonly value="{{shop.description}}" rows="10" *ngIf="shop"></ion-textarea>
  </ion-item>



  <ion-list-header>
    <ion-label>Categories</ion-label>
    <ion-button *ngIf="shop" routerLink="/shop/{{shop._id}}/add" routerDirection="forward">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-list-header>

  <ion-list *ngFor="let category of categories">
    <ion-item routerLink="/shop/{{shop._id}}/{{category._id}}" routerDirection="forward">
      {{category.title}}
    </ion-item>
  </ion-list>

</ion-content>
