<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="shop">{{shop.title}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="shop" routerLink="/shop/{{shop._id}}/update" routerDirection="forward"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-title>Presentation</ion-title>
  </ion-toolbar>

  <ion-item *ngIf="shop">
    {{shop.description}}
  </ion-item>

  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>

  <ion-card *ngFor="let category of categories" routerLink="/category/{{category._id}}" routerDirection="forward">
    <ion-img [src]="getRandomImage(category)"></ion-img>
    <ion-card-header>
      <ion-card-title>{{category.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{category.description}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="shop" routerLink="/shop/{{shop._id}}/add" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
